<%= render "html_mail_header" %>
<h1>Привет, <%=@login%></h1>
<p>Чтобы пользоваться сервисом в полном обьёме вам необходимо активировать ваш аккаунт перейдя по ссылке ниже:</p>
<p>
  <span style="display: block; font-weight: bold; font-size: 16px; padding: 5px 15px; border: 2px dotted #ccc; text-align: center;" align="center"><a href="<%=@url%>"><%=@code%></a></span>
</p>
<p>Если ссылка не открывается - скопируйте этот текст и вствьте в окно браузера:</p>
<p>
  <span style="display: block; font-weight: bold; font-size: 16px; padding: 5px 15px; border: 2px dotted #ccc; text-align: center;" align="center"><%=@url%></span>
</p>
<p><strong>Пожалуйста, сохраните это письмо. Этот код также потребуется в случае, если вы забудете пароль.</strong></p>
<%= render "html_mail_footer" %>